@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #3B82F6;
  --color-secondary: #10B981;
  --color-primary-dark: #2563EB;
  --color-primary-light: #60A5FA;
  --color-secondary-dark: #059669;
  --color-secondary-light: #34D399;
}

@layer base {
  body {
    @apply text-gray-900;
  }
}

@layer utilities {
  .text-primary {
    color: var(--color-primary);
  }
  
  .bg-primary {
    background-color: var(--color-primary);
  }
  
  .bg-primary-dark {
    background-color: var(--color-primary-dark);
  }
  
  .bg-primary-light {
    background-color: var(--color-primary-light);
  }
  
  .text-secondary {
    color: var(--color-secondary);
  }
  
  .bg-secondary {
    background-color: var(--color-secondary);
  }
  
  .border-primary {
    border-color: var(--color-primary);
  }
  
  .border-secondary {
    border-color: var(--color-secondary);
  }
}
